@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: white;
    background-color: black;
    font-family: 'Lato', sans-serif;
}

.cabecalho {
    border: solid 1px aquamarine;
    margin: 10px;
    padding: 10px;
    text-align: center;
    color: aquamarine;
}

h1 {
    font-family: 'Poppins', sans-serif;
}

h2 {
    font-family: 'Poppins', sans-serif;
}

.video-inicio {
    display: flex;
    justify-content: center;
    padding: 70px 80px;
    background-color: rgb(70, 70, 70);
    border-top: solid 1px aquamarine;
    border-bottom: solid 1px aquamarine;
}

.video-inicio-texto {
    margin-right: 30px;

    & h2 {
        margin-bottom: 10px;
    }
}

.video-inicio-iframe {
    box-shadow: black 0px 0px 10px
}
